:root {
    --text: #F3F5F0;
    --background: rgba(41, 41, 41, 0.4);
    --background-menu-items: rgba(1, 1, 1, 0.8);
    --primary: #e28812;
    --secondary: #7e5f35;
    --accent: #f19a27;
}

* {
    color: var(--text);
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    font-family: "Inter", sans-serif;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* BAR */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

h1 {
    font-size: 32px;
    font-weight: 500;
}

nav > * {
    background: none;
    font-size: 24px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* FOOTER */

footer {
    background: rgba(1, 1, 1, 0.5);
    font-size: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

footer > * {
    margin: 0.5rem;
}

a {
    text-decoration: none;
}

a > img {
    width: 2.4rem;
    height: auto;
}
