/* Alignment */
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;

    background: var(--background);
    border-radius: 1rem;
}

.menu-item > img {
    width: 55%;
}

.menu-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    cursor: pointer;

    margin: 1.5rem;
    background: var(--background-menu-items);
    border-radius: 1rem;
}

.menu-item > * {
    margin: 0;
    padding: 0;
}

.menu-item > p {
    margin: 1rem;
}
